
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Product Catalog</h1>
<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image) %>
    <h3><%= product.name %></h3>
    <div class="price_line">
      <%= sanitize(product.description) %>
    </div>
    <div class="price_line">
      <br />
      <span class="price">
        <%= number_to_currency(product.price) %>
      </span>
      <%= button_to'Add to Cart', lineitems_path(product_id: product), class: 'add_to_cart', remote: true %>
    </div>
  </div>
<% end %>
